.main{

    padding:1rem 1rem;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    margin-bottom:4rem;

}
.main a{
    margin-bottom:-1rem;
    text-decoration: none;
    color:rgb(80, 78, 78);
}
.main b{
    font-size:16px;
    font-weight: 700;
}
.main .examcard{
    padding:1rem 1rem;
    display: flex;
    align-items: center;
}
.main .examcard .image{
    margin-right:1rem;
}
.main .examcard .image img{
    height:50px;
    width:50px;
    border-radius: 15px 15px;
}
.main .examcard .title{
    display:flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-top:0.5rem;
    font-size:14px;
}
.main .examcard .title .date{
    display: flex;
    flex-direction: row;
}
.main .examcard .title .date p{
    font-size:14px;
    margin-right:1rem;
    color:grey;
}
.main .examcard .title .date b{
    font-size:14px;
    color:orange;
}
.overview-head{
    padding-left: 290px;
    padding-top: 6%;
    position: relative;
    transition: all .4s ease;
    background:#F6FBF4;
}
.overview-head .overview {
    display: flex;
    margin-top:1rem;
}

.overview-head .overview .overview-card{
    display: flex;
    flex-direction: column;
    padding:1rem 1rem;
    border-radius: 15px 15px;
    margin-right:1rem;
    z-index: -1;

}
.overview-head .overview .overview-card .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.overview-head .overview .overview-card .title i{
    margin-right:.5rem;

}
.overview-head .overview .overview-card .title b{
    font-weight: 600;
    color:grey;
    font-size: 14px;
}

.overview-head .overview .overview-card .number{
    font-size: .5rem;
    position: relative;
    z-index: -1;
}
.overview-head .overview .overview-card .number:after{
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: .1rem;
    border-top: 5px solid orange;
    z-index: -1;
}
.overview-head .overview .overview-card .number h1{
    font-weight:600;
}
.course{
    /* margin-top:2rem;
    margin-bottom:2rem; */
    padding-left: 290px;
    padding-top: 6%;
    position: relative;
    transition: all .4s ease;
    background:#F6FBF4;
}
.course .course-taken {
   margin-top:1rem;
}
.course .course-taken table th{
    color:#004666;
}

.course .course-taken table td{
    font-size: .9rem;
    color:#4c5356;
}

.course .course-taken table .data{
    display: flex;
    font-weight: 700;
}
.course .course-taken table .data img{
    height:40px;
    width:40px;
    border-radius: 5px 5px;
    margin-right:1rem;
}
.course .course-taken table td b{
    font-weight: 500;
}
.course .course-taken table a{
    text-decoration: none;
    color:#4c5356;
    font-weight: 400;
}